<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=DESKTOP-V70I17V\SQLEXPRESS;Database=DBpos;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>